.products {
    &__section-title {
        font-family: Poppins-Bold;
        font-size: 36px;
        line-height: 1.1;
        text-transform: uppercase;
    }
}

.GridControls {
    margin: 4rem 0;
    color: $light-gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    &__types {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        font-family: Poppins-Regular;
        font-size: 15px;
        line-height: 1.2;
        align-content: center;
        align-items: center;
    }
    &__type-item {
        margin-right: 2rem;
        button {
            display: block;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0;
            transition: all 0.5s;
            cursor: pointer;
            &:hover,
            &:focus {
                color: $dark-gray;
                outline: none;
                border-bottom: 1px solid currentColor;
            }
        }
    }
    &__function-group {
        display: flex;
    }
}

.GridControls__panel {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 4rem;
    &--filter {
        background-color: #f2f2f2;
        padding: 3rem;
        width: inherit;
        border: 1px solid red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        h3 {
            display: block;
            grid-row: 1 / span 1;
            width: 100%;
            font-family: Poppins-SemiBold;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 1rem;
        }
        ul {
            display: block;
            grid-row: 2 / span 1;
            list-style: none;
            font-family: Poppins-Regular;
            font-size: 15px;
            line-height: 1.2;
            color: #aaa;
            li {
                margin: 0.5rem 0;
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    border: 1px solid currentcolor;
                    background-color: currentColor;
                    margin: 0.5rem;
                    border-radius: 50%;
                }
                &:hover {
                    font-weight: 600;
                    color: $purple;
                    text-decoration: underline $purple;
                }
            }
        }
    }
    &--search {
        display: flex;
        border: 1px solid #aaa;
        padding: 2rem;
        border-radius: 3px;
        justify-items: flex-start;
        align-items: center;
        input {
            width: 1px;
            width: 100%;
            height: 4rem;
            border: none;
            background-color: transparent;
            font-family: Poppins-Regular;
            font-size: 16px;
            line-height: 1.625;
            &,
            &:focus {
                outline: none;
            }
        }
    }
    &--search-icon {
        width: 16px;
        height: 16px;
        margin-right: 1rem;
        svg {
            height: 100%;
            width: 100%;
        }
    }
}

.GridControls-button {
    &:hover {
        background-color: $purple;
        color: #fff;
        .GridControls-button__ico {
            fill: #fff;
        }
    }
    &:focus {
        outline: none;
        color: #fff;
        .GridControls-button__ico {
            fill: #fff;
        }
        background-color: $purple;
        &:before {
            opacity: 1;
        }
    }
    display: flex;
    align-items: flex-start;
    height: 4rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1rem 2rem;
    background-color: transparent;
    transition: all 0.5s;
    position: relative;
    &--filter {
        margin-right: 1rem;
    }
    &__ico {
        display: block;
        height: 1.6rem;
        width: 1.6rem;
        margin-right: 0.5rem;
        fill: $dark-gray;
        svg {
            height: 100%;
            width: 100%;
        }
    }
    &:before {
        content: "";
        position: absolute;
        height: 2rem;
        width: 2rem;
        top: 100%;
        left: calc(50% - 10px);
        border: 1rem solid transparent;
        border-top-color: $purple;
        opacity: 0;
    }
}

.loadmore-button {
    margin-top: 8rem;
    margin-bottom: 16rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #222;
    transition: background-color 0.5s;
    &:hover {
        color: #fff;
        background-color: #222;
    }
}

@media only screen and (max-width: 767px) {
    .products {
        &__section-title {
            font-size: 30px;
        }
    }
    .GridControls {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        &__types {
            grid-column: 1 /-1;
            grid-row: 1 / 2;
        }
        &__type-item {
            grid-column: 1 /-1;
            grid-row: 2 / 3;
        }
    }
}