.productGrid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
}

.productGrid__item {
    &__img-container {
        position: relative;
        width: inherit;
        overflow: hidden;
        img {
            width: 100%;
            transform: scale(1.02);
            transition: all 0.5s;
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
            .productGrid__item__button {
                transform: translateY(0);
            }
        }
    }
    &__button-container {
        position: absolute;
        bottom: 3rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__button {
        background-color: #fff;
        color: $dark-gray;
        transition: all 0.5s;
        transform: translateY(8rem);
        font-family: Poppins-Regular;
        font-size: 15px;
        line-height: 1.466667;
        &:hover {
            color: #fff;
            background-color: $dark-gray;
        }
    }
    &__name {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        font-family: Poppins-Regular;
        font-size: 14px;
        color: #999;
        line-height: 1.466667;
    }
    &__fav {
        cursor: pointer;
        fill: #999;
        svg {
            height: 2rem;
            width: 2rem;
        }
    }
    &__price {
        font-family: Poppins-Regular;
        font-size: 14px;
        line-height: 1.466667;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 992px) {
    .productGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .productGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 570px) {
    .productGrid {
        grid-template-columns: 1fr;
    }
}