.top-banner {
  background-position: center;
  background-size: cover;
  color: $dark-gray;
  &__arrow-btn {
    display: block;
    position: absolute;
    background-color: transparent;
    top: calc(50% - 20px);
    display: block;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
    &:hover,
    &:focus {
      outline: none;
      color: $purple;
    }
    height: 4rem;
    width: 4rem;
    border: 2rem solid transparent;
    box-sizing: border-box;
    color: $light-black;
    &--left {
      left: 5rem;
      border-right: 2rem solid currentColor;
    }
    &--right {
      right: 5rem;
      border-left: 2rem solid currentColor;
    }
  }
  &:hover {
    .top-banner__arrow-btn {
      opacity: 1;
    }
    & > section {
      color: $dark-gray;
    }
  }
  &__title {
    font-family: Poppins-Regular;
    font-size: 28px;
    line-height: 1.2857;
    margin-bottom: 2rem;
    text-transform: capitalize;
    display: block;
    position: relative;
    span {
      display: block;
      animation: 1s cubic-bezier(0.5, 0.31, 0.44, 1.01) 0s rotate90;
    }
  }
  &__banner-text {
    font-family: PlayfairDisplay-Bold;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 4rem;
    text-transform: uppercase;
    span {
      display: block;
      animation: 1s cubic-bezier(0.5, 0.31, 0.44, 1.01) 1s rotate90;
    }
  }
  &__button {
    background-color: $purple;
    color: #fff;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    width: 16rem;
    animation: 1s cubic-bezier(0.5, 0.31, 0.44, 1.01) 2s rotate_minus90;
  }
}

@media only screen and (max-width: 768px) {
  .top-banner {
    &__arrow-btn {
      &--left {
        left: 1rem;
      }
      &--right {
        right: 1rem;
      }
    }
    &__title {
      font-size: 20px;
      line-height: 1.2857;
      margin-bottom: 1rem;
    }
    &__banner-text {
      font-size: 40px;
      line-height: 1.1;
      margin-bottom: 2rem;
    }
    &__button {
      font-size: 10px;
      line-height: 1.466667;
      width: 12rem;
    }
  }
}
